<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carnivault - Sales Report</title>
    <script
      src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.6/dist/js/tabs.min.js"
      defer
    ></script>
  </head>
  <body>
    <div class="flex flex-1">
      <%- include("../partials/sidebar") %>
      <main class="flex-1 p-10 overflow-y-auto bg-background">
        <h1 class="text-2xl font-bold text-foreground mb-6 tracking-tight">
          Sales Report
        </h1>

        <!-- Tabs -->
        <!-- TODO: The report will display list of meat cuts -->
        <div class="tabs w-full" id="demo-tabs-with-panels">
          <nav role="tablist" aria-orientation="horizontal" class="w-full">
            <button
              type="button"
              role="tab"
              id="demo-tabs-with-panels-tab-1"
              aria-controls="demo-tabs-with-panels-panel-1"
              aria-selected="true"
              tabindex="0"
            >
              Profit By Client
            </button>

            <button
              type="button"
              role="tab"
              id="demo-tabs-with-panels-tab-2"
              aria-controls="demo-tabs-with-panels-panel-2"
              aria-selected="false"
              tabindex="0"
            >
              Total Profit
            </button>
          </nav>

          <div
            role="tabpanel"
            id="demo-tabs-with-panels-panel-1"
            aria-labelledby="demo-tabs-with-panels-tab-1"
            tabindex="-1"
            aria-selected="true"
          >
            <section class="flex gap-10 mt-4 w-full">
              <form class="form grid gap-6">
                <div class="grid gap-2">
                  <label for="meat-cut-input">Client Name</label>
                  <select class="w-full" id="meat-cut-select">
                    <option value="" disabled selected>
                      Select meat cut...
                    </option>
                    <option value="SUP-001">SUP-001 (Global Farms Inc.)</option>
                    <option value="SUP-042">
                      SUP-042 (Local Breeders Co-op)
                    </option>
                    <option value="SUP-105">SUP-105 (AgriVentures Ltd.)</option>
                    <option value="SUP-210">
                      SUP-210 (Green Valley Supplies)
                    </option>
                  </select>
                </div>

                <div class="grid gap-2">
                  <label for="start-date-input">Start Date</label>
                  <input class="w-full" type="date" id="start-date-input" />
                </div>

                <div class="grid gap-2">
                  <label for="end-date-input">End Date</label>
                  <input class="w-full" type="date" id="end-date-input" />
                </div>

                <div class="grid gap-2.5">
                  <button type="submit" class="btn w-full">
                    <i data-lucide="bar-chart-2"></i>
                    Load Profit By Client
                  </button>
                  <!-- <a href="/inventory" type="submit" class="btn-outline w-full">
                    <i data-lucide="shopping-basket"></i>
                    View Inventory
                  </a> -->
                </div>
              </form>
              <table class="table">
                <thead>
                  <tr class="font-bold">
                    <td>Column #1</td>
                    <td>Column #2</td>
                    <td>Column #3</td>
                    <td>Column #4</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>

          <div
            role="tabpanel"
            id="demo-tabs-with-panels-panel-2"
            aria-labelledby="demo-tabs-with-panels-tab-2"
            tabindex="-1"
            aria-selected="false"
            hidden
          >
            <section class="flex gap-10 mt-4">
              <form class="form grid gap-6">
                <div class="grid gap-2">
                  <label for="start-date-input">Start Date</label>
                  <input class="w-full" type="date" id="start-date-input" />
                </div>

                <div class="grid gap-2">
                  <label for="end-date-input">End Date</label>
                  <input class="w-full" type="date" id="end-date-input" />
                </div>

                <div class="grid gap-2.5">
                  <button type="submit" class="btn w-full">
                    <i data-lucide="bar-chart-2"></i>
                    Load Total Profit Report
                  </button>
                  <!-- <a href="/inventory" type="submit" class="btn-outline w-full">
                    <i data-lucide="shopping-basket"></i>
                    View Inventory
                  </a> -->
                </div>
              </form>
              <!-- <section class="w-full space-y-2">
                <h1 class="text-3xl font-bold">Arm Chuck Roast</h1>
                <hr />
                <table class="table">
                  <tr>
                    <td class="font-bold">Average Fat</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Average Protein</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Average Connective Tissue</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Average Water Holding Capacity</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Average Water Distribution</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Average pH</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Most Frequent Tenderness</td>
                  </tr>
                  <tr>
                    <td class="font-bold">Most Frequent Color</td>
                  </tr>
                </table>
              </section> -->
            </section>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
