<div class="grid gap-6 mb-4 grid-cols-1 md:grid-cols-2 md:w-fit">
    <div class="grid gap-2">
        <label for="tenderness-select">Tenderness</label>
        <select
        class="w-full"
        id="tenderness-select"
        name="tenderness"
        **required**
        >
        <option value="" disabled selected>Select...</option>
        <option value="Very Tender">Very Tender</option>
        <option value="Tender">Tender</option>
        <option value="Moderate">Moderate</option>
        <option value="Tough">Tough</option>
        </select>
    </div>

    <div class="grid gap-2">
        <label for="color-select">Color</label>
        <select
        class="w-full"
        id="color-select"
        name="color"
        **required**
        >
        <option value="" disabled selected>Select...</option>
        <option value="Bright Red">Bright Red</option>
        <option value="Dark Red">Dark Red</option>
        <option value="Pale">Pale</option>
        <option value="Brownish">Brownish</option>
        </select>
    </div>

    <div class="grid gap-2">
        <label for="fat-input">Fat Content (%)</label>
        <input
        class="w-full"
        type="text"
        id="fat-input"
        placeholder="e.g., 99.99"
        name="fat_content"
        **required**
        />
    </div>

    <div class="grid gap-2">
        <label for="protein-input">Protein Content (%)</label>
        <input
        class="w-full"
        type="text"
        id="protein-input"
        placeholder="e.g., 99.99"
        name="protein_content"
        **required**
        />
    </div>

    <div class="grid gap-2">
        <label for="connective-tissue-input">Connective Tissue Content (%)</label>
        <input
        class="w-full"
        type="text"
        id="connective-tissue-input"
        placeholder="e.g., 99.99"
        name="connective_tissue_content"
        **required**
        />
    </div>

    <div class="grid gap-2">
        <label for="water-holding-input">Water Holding Capacity (%)</label>
        <input
        class="w-full"
        type="text"
        id="water-holding-input"
        placeholder="e.g., 99.99"
        name="water_holding_capacity"
        **required**
        />
    </div>

    <div class="grid gap-2">
        <label for="ph-input">pH</label>
        <input
        class="w-full"
        type="text"
        id="ph-input"
        placeholder="e.g., 5.5"
        name="pH"
        **required**
        />
    </div>

    <div class="grid gap-2">
        <label for="water-distribution-input">Water Distribution (%)</label>
        <input
        class="w-full"
        type="text"
        id="water-distribution-input"
        placeholder="e.g., 99.99"
        name="water_distribution"
        **required**
        />
    </div>

</div>