<div class="grid gap-6 mb-4 grid-cols-1 md:grid-cols-2 md:w-fit">

  <div class="grid gap-2">
    <label for="storage-select">Storage Location</label>
    <select class="w-full" id="storage-select" name="storage_location" **required**>
      <option value="" disabled selected>Select a location...</option>
      <option value="Cooler 1">Cooler 1</option>
      <option value="Cooler 2">Cooler 2</option>
      <option value="Cooler 3">Cooler 3</option>
      <option value="Cooler 4">Cooler 4</option>
      <option value="Cooler 5">Cooler 5</option>
      <option value="Cooler 6">Cooler 6</option>
      <option value="Cooler 7">Cooler 7</option>
      <option value="Cooler 8">Cooler 8</option>
      <option value="Cooler 9">Cooler 9</option>
      <option value="Cooler 10">Cooler 10</option>
    </select>
  </div>

</div>