<div class="flex gap-2">
  <select id="<%= select_id || '' %>" class="select w-[180px]">
    <optgroup label="<%= label || '' %>"></optgroup>
  </select>
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <i data-lucide="search" class="h-5 w-5 text-gray-400"></i>
    </div>

    <input
      class="input pl-10 w-full"
      id="<%= input_id %>"
      type="text"
      placeholder="<%= placeholder ||  'Search...' %>"
    />
  </div>
</div>
