<div class="flex gap-2">
  <select class="select w-[180px]">
    <optgroup id="<%= select_id || '' %>" label="<%= label || '' %>"></optgroup>
  </select>
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <i data-lucide="search" class="h-5 w-5 text-gray-400"></i>
    </div>

    <input
      class="input pl-10 w-full"
      id="search"
      type="text"
      placeholder="<%= placeholder ||  'Search...' %>"
    />
  </div>
</div>

<script>
  const api_page_name = "<%= api_page_name %>";
  const searchbar = document.getElementById("search");
  const delay = 1000;

  let timeout;
  function debounceSearch() {
    clearTimeout(timeout);
    timeout = setTimeout(() => {
      search();
    }, delay);
  }

  async function search() {
    const key = searchbar.value;
    const filterBy = "All";

    try {
      const url = new URL(
        `/api/${api_page_name}/filter`,
        window.location.origin
      );
      url.searchParams.append("filterBy", filterBy);
      url.searchParams.append("key", key);

      console.log(`filterBy: ${filterBy}, key: ${key}`);

      const response = await fetch(url);
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }

      const results = await response.json();
      console.log(results);
      return results;
    } catch (error) {
      console.error(`Error: ${error}`);
    }
  }
</script>
