<section id="<%= id %>" class="space-y-4">
  <!-- <div
    class="bg-accent animate-pulse rounded-md aspect-square w-full h-8"
  ></div> -->
  <div
    class="bg-accent animate-pulse rounded-md aspect-square w-full h-96 transition-all"
  ></div>
</section>
