<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carnivault - Livestock</title>

    <script src="https://cdn.jsdelivr.net/npm/date-fns@3/cdn.min.js"></script>
  </head>
  <body>
    <div class="flex flex-1">
      <%- include("../partials/sidebar") %>
      <main class="flex-1 p-10 overflow-y-auto bg-background">
        <h1 class="text-2xl font-bold text-foreground mb-6 tracking-tight">
          Livestock
        </h1>
        <section class="flex flex-col gap-4">
          <!-- prettier-ignore -->
          <section class="flex justify-between">
            <%- include("../partials/searchbar", { label: "Livestock", select_id: "searchbar", placeholder: "Search livestock..." }) %>
            <div class="grid gap-2 grid-flow-col">
              <a href="/livestock/suppliers" class="btn-outline">
                <i data-lucide="users" class="h-4.5"></i>
                View Suppliers
              </a>
              <a href="/livestock/register" class="btn">
                <i data-lucide="house-plus" class="h-4.5"></i>
                Register Livestock
              </a>
            </div>
          </section>
          <div class="overflow-x-auto">
            <%- include("../partials/table-skeleton", { id: "table-skeleton"})
            %>
            <table id="livestock-table" class="hidden">
              <thead>
                <tr>
                  <th>Livestock ID</th>
                  <th>Breed</th>
                  <th>Weight</th>
                  <th>Age</th>
                  <th>Country of Origin</th>
                  <th>Medical Condition</th>
                  <th>Vaccination Status</th>
                  <th>Date Arrived</th>
                  <th>Storage Location</th>
                  <th>Supplier ID</th>
                  <th>Status</th>
                  <th>Processing Date</th>
                </tr>
              </thead>
              <tbody id="livestock-table-body"></tbody>
            </table>
          </div>
          <!-- prettier-ignore -->
          <%- include("../partials/table-data-zero", { id: "table-data-zero", description: "Livestock data not available..."}) %>
        </section>
      </main>
    </div>

    <script type="module" src="/scripts/pages/livestock.js"></script>
  </body>
</html>
