<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCINFOM Web App</title>
  </head>
  <body>
    <div class="flex flex-1">
      <%- include("./partials/sidebar") %>
      <main class="flex justify-center items-center w-full">
        <h1 class="text-gray-500">Welcome to Carnivault!</h1>
      </main>
    </div>
  </body>
</html>
