@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@import "basecoat-css";
@import "./theme.css";
@theme {
  --font-sans: "Geist", sans-serif;
}
